{% include 'header.html' %}
<div class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
          Customer Profile
      </h1>
      <h2 class="subtitle">
        Customer {{ customer.id }}: {{ customer.name }}
      </h2>
    </div>
  </div>
</div>
<div class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
          Add A Review
      </h1>
    </div>
  </div>
</div>
<form class="container" action="/customer/{{customer.id}}" method="POST">
  <div class="field">
    <label class="label">Completion Date:</label>
    <div class="control">
        <input class="input" type="date" name="review_date"/>
    </div>
  </div>
  <div class="field">
    <label class="label">Department:</label>
    <div class="control">
        <input class="input" type="text" name="review_department"/>
    </div>
  </div>  
  <div class="field">
    <label class="label">Risk Category:</label>
    <div class="select">
      <select name="risk">
        <option value="high">High Risk</option>
        <option value="medium">Medium Risk</option>
        <option value="low">Low Risk</option>
      </select>
    </div>
  </div>
  <div class="field">
    <textarea class="textarea" placeholder="Additional Notes" name="notes"></textarea>
  </div>
  <button class="button">Submit</button>
</form>

{% include 'footer.html' %}