<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Add Customer</h1>
  <form method="POST">
    <div>
      <label>Customer ID: <input type="text" name="customer_id"/></label>
    </div>
    <div>
      <label>Customer Name: <input type="text" name="customer_name"/></label>
    </div>
    <button>Submit</button>
  </form>
</body>
</html>

<style>
  form div {
    margin-bottom: 10px;
  }
</style>