{% include 'header.html' %}
<div class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        All Customers
      </h1>
    </div>
  </div>
</div>
<div class="container">
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Customer ID</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers %}
      <tr>
        <td><a href="/customer/{{customer.id}}">{{customer.name}}</a></td>
        <td><a href="/customer/{{customer.id}}">{{customer.id}}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% include 'footer.html' %}